
{% load tailwind_filters %}

<div hx-target="this" hx-swap="outerHTML" class="mt-3 py-3 px-3 bg-white shadow border border-gray-100">
    <form method="POST" enctype="multipart/form-data" hx-encoding="multipart/form-data" id="image_upload_form">
        {% csrf_token %}
        {{ form|crispy }}
        
        {% if photo %}
        <button hx-get="{% url 'detail_photo' photo.id %}" type="button"
            class="ml-2 inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Cancel
        </button>
        <button hx-post="{% url 'update_photo' photo.id %}" type="button"
            class="ml-2 inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Update
        </button>
        {% else %}
        <button type="submit" hx-post="."
            class="btn btn-outline-primary">
            Submit
        </button>
        {% endif %}
        <progress id='progress' value='0' max='100'></progress>
    </form>
</div>
{% block js %}
<script>
        htmx.on('#image_upload_form', 'htmx:xhr:progress', function(evt) {
          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
        });
    </script>
{% endblock js %}